* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondery-color: #2c4755;
  --section-padding: 60px;
  --section-part-color: #f6f6f6;
}
/* this is the root of the website */
body {
  font-family: "Poppins", sans-serif;
}
/* start of the project */
.countainer {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.header {
  padding: 20px;
}
.header .countainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 100px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 30px;
}
.header .links .icon span {
  background-color: black;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
  height: 3px;
}
.header .links .icon span:nth-child(2):hover {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 70%;
  height: 3px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
  height: 3px;
}

.header .links ul {
  background-color: #10cab7;
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 200px;
  right: -6px;
  top: 45px;
  font-weight: 300;
  display: none;
  z-index: 3;
}
.header .links ul li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: rgb(255, 247, 247);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 30px;
}
.header .links ul::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #10cab7 transparent;
  position: absolute;
  left: 165px;
  bottom: 217px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid rgb(243 239 239);
}
.header .links:hover ul {
  display: block;
}
/* start landing page  */
.landing {
  background-image: url(../img/686998.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .text-intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 548px;
  max-width: 100%;
}
.landing .text-intro h1 {
  margin: 0px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 69px;
  text-align: center;
}
.landing .text-intro p {
  font-size: 19px;
  line-height: 1.8;
  font-weight: 200;
  text-align: center;
  font-size: 36px;
  margin: 0px;
}
/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .countainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(474px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 600;
  margin: 17px 0;
}

.features .feat p {
  line-height: 1.6;
  color: #777;
}
/* start services part 1 */
.spacial-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  margin: 0px;
}
.spacial-heading + p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #10cab7;
  letter-spacing: 5px;
}
/* end services part 1 */
/* start services part 2 */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(474px, 1fr));
  grid-gap: 20px;
  margin-top: 100px;
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .serv .text p {
  color: #777;
  font-weight: 200;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondery-color);
  width: 100px;
  height: 123%;
  position: absolute;
  top: -46px;
  right: 128px;
  z-index: -1;
}
.services .services-content img {
  width: 260px;
}
@media (max-width: 1199px) {
  .services .services-content .col .image {
    display: none;
  }
}
/* end services part 2*/
/* start portfolio */
.Portfolio .spacial-heading + p {
  margin: -30px 0 0;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #10cab7;
  letter-spacing: 3px;
}
.Portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-part-color);
}

.Portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(73px, 481px));
  grid-gap: 20px;
  margin-top: 80px;
  justify-content: center;
}
.Portfolio .portfolio-content .card {
  background-color: white;
}
.Portfolio .portfolio-content .card img {
  max-width: 100%;
}
.Portfolio .portfolio-content .card .info {
  padding: 20px;
}
.Portfolio .portfolio-content .card .info h3 {
  margin: 0px;
}
.Portfolio .portfolio-content .card .info p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0px;
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 996px) {
  .about .about-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #f8f3f3;
  width: 60px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px var(--main-color) solid;
  border-bottom: 80px var(--main-color) solid;
  z-index: -1;
  left: 161px;
  top: -36px;
}
.about .about-content .image img {
  max-width: 84%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
@media (max-width: 996px) {
  .about .about-content .text {
    text-align: center;
    margin-top: 50px;
    line-height: 2;
  }
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-part-color);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 800;
  color: var(--secondery-color);
}
.contact .info .link {
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-weight: 800px;
  color: var(--main-color);
}
.contact .info .sociale {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .contact .info .sociale {
    font-size: 25px;
  }
}
.contact .info .sociale i {
  margin-left: 10px;
  color: var(--main-color);
}
/* end contact */
/* start footer */
.footer {
  background-color: var(--secondery-color);
  color: white;
  padding: 14px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .footer span {
    font-size: 15px;
  }
}
/* end footer */

/* end landing page  */
